.app.dark {
  --bg-color: #00003f;
  --inverted-bg-color: #a09a9a95;
  --primary-color: #049604;
  --secondary-color: #0f0;
  --inverted-primary-color: #2204cb;
  --inverted-secondary-color: #006aff;
}
