.app_dark_theme {
  --bg-color: #00003f;
  --inverted-bg-color: #d4d3d3e7;
  --primary-color: #0f0;
  --secondary-color: #049604;
  --inverted-primary-color: #2204cb;
  --inverted-secondary-color: #006aff;
}
