:root {
  --bg-color: #d4d3d3e7;
  --inverted-bg-color: #00003f;
  --primary-color: #2204cb;
  --secondary-color: #006aff;
  --inverted-primary-color: #00ff00e6;
  --inverted-secondary-color: #049604;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
}
