.app_pink_theme {
  --bg-color: #fbf4fa;
  --inverted-bg-color: #8319eee1;
  --primary-color: #fa3aea;
  --secondary-color: #f33fe4;
  --inverted-primary-color: #fbd3f5;
  --inverted-secondary-color: #f2ddef;

  // skeleton
  --skeleton-color: #f4a4ee;
  --skeleton-shadow: #f0cceb;

  // code
  --code-bg: #fbf4fa;

  // card
  --card-bg: #c5c0c0e7;
}
