.ProfileCard {
  padding: 20px;
  border: 3px solid var(--inverted-bg-color);
  color: var(--primary-color);
}

.input {
  margin-top: 10px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.editing {
  border: 3px solid var(--inverted-primary-color);
}
